{
  "name": "ch.pluess.tenant_helper",
  "description": "Edge Tenant Switcher native messaging host",
  "path": "{{HELPER_PATH}}",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://{{EXTENSION_ID}}/"
  ]
}
